* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #050505;
    color: #e8e8e8;
    font-family: monospace;
    font-size: 15px;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 70px auto;
}


/* ASCII */

.ascii {
    font-size: 10px;
    line-height: 1;
    margin-bottom: 45px;
    color: #ffffff;
}


/* NAVIGATION */

nav {
    display: flex;
    gap: 25px;
    margin-bottom: 60px;
}

nav a {
    color: #888;
    text-decoration: none;
}

nav a:hover {
    color: white;
}


/* HEADER */

h1 {
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
}

p {
    color: #888;
    line-height: 1.8;
}


/* SECTIONS */

section {
    margin-top: 80px;
}

h2 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


/* MEMBERS */

.members {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.member {
    display: flex;
    gap: 20px;
}

.member span {
    color: #444;
}

.member a {
    color: #ddd;
    text-decoration: none;
}

.member a:hover {
    color: white;
    text-decoration: underline;
}


/* DISCORD */

.discord {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 18px;

    border: 1px solid #333;

    color: white;
    text-decoration: none;

    transition: 0.2s;
}

.discord:hover {
    background: white;
    color: black;
}


/* FOOTER */

footer {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid #181818;
}

footer p {
    font-size: 12px;
    color: #444;
}


/* PHONE */

@media (max-width: 500px) {

    .container {
        margin: 40px auto;
    }

    .ascii {
        font-size: 7px;
    }

    nav {
        gap: 15px;
    }

}